/**
 * Mina theme!
 * Author: Mina Markham
 */

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #031327;
  background-color: #031327;
  background: url("../../img/bg.png") repeat scroll 0% 0% #FFF; }

.reveal {
  font-family: 'questrialregular', sans-serif;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #333333; }

.reveal pre {width: 100%;}

.reveal code {
  font-family: 'source_code_proregular', monospace;
  font-size: .9em;
}

.reveal footer {
  position: fixed;
  height: 40px;
  width: 100%;
  bottom: 22px;
  left: 0px;
  font-size: 40%;
  text-align: left;
  z-index: 10;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.reveal .copyright {
  margin: 15px 0px 0px 100px;
  font-style: italic;
}

.reveal .syntax-label {
  margin: 0; }

.reveal .syntax-label + pre {
  margin: 0;
  width: 100%; }

::selection {
  color: white;
  background: #ff3377;
  text-shadow: none; }

.left {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding-right: 0.5em !important;}

.right {
  box-sizing: border-box;
  float: right;
  width: 50%;
  padding-left: 0.5em !important;}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #333333;
  line-height: 1.25em;
  letter-spacing: 0;
  text-transform: uppercase;
  text-shadow: none; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #ff3377;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #ff6699;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #d9d9d9; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px; }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #ff3377; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #ff3377; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #ff3377; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #ff3377; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #eeeeee; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #eeeeee; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #eeeeee; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #eeeeee; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: #cccccc; }

.reveal .progress span {
  background: #ff3377;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #333333; }

.reveal h2 {
  font-size: 1.75em; }

.reveal h6 {
  color: #ddd;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 0;
  text-transform: uppercase; }

.reveal h4 {
  text-transform: none;
  font-weight: normal; }

p.quote {
  font-family: 'nixie_oneregular', cursive;
  font-weight: normal;
  font-size: 1.5em; }

.ampersand body {
  background: url("../../gifs/ampersand.gif") no-repeat center center;
  background-size: cover; }

.ibm-design body {
  background: url("../../img/ibm-design.jpg") no-repeat center center;
  background-size: cover; }

.import body {
  background: url("../../img/import.png") no-repeat;
  background-size: cover; }

.ibm-design h2, .ibm-design h3 { color: #ffffff; }

.me body {
  background: url("../../img/mina-bg.jpg") no-repeat center center;
  background-size: 125%; }

.sass-terminal body {
  background: url("../../img/sass-terminal.jpg") no-repeat 0 -22px; }

.sass-terminal code {
  color: #ffffff; }

.sassmeister body {
  background: url("../../img/sassmeister.png") no-repeat 0;
  background-size: cover; }

.smacss body {
  background: #92C6E0 url("../../img/smacss.png") no-repeat bottom center;
  background-size: 80%; }

.smacss h2, .smacss h3 {
  color: #ffffff; }

.sassystarter body {
  background: url("../../img/grey-prism.png") repeat scroll 50% 0px/50% auto transparent; }

.full-code body {
  background: #3F3F3F; }

.full-code body .reveal pre code {
  max-height: 600px;
  margin-top: -50px; }

.tools-sublime-colors body {
  background: #26292c url("../../img/sublime-colors.png") no-repeat 0;
  background-size: cover; }

.tools-sublime-colors h3 {
  color: #ffffff; }

.library-director body {
  background: #26292c url("../../img/sass-director.png") no-repeat 0;
  background-size: cover; }

.library-compass body {
  background: url("../../img/library-compass.jpg") no-repeat 0;
  background-size: cover; }

.library-compass h3 {
  color: #ffffff; }

.library-bourbon body {
  background: url("../../img/library-bourbon.jpg") no-repeat 0;
  background-size: cover; }

.library-bourbon a:not(.image) {
  color: #ffffff; }

.library-bourbon a:not(.image):hover {
  color: #ffffff;
  opacity: .5; }

.library-susy body {
  background: url("../../img/library-susy.jpg") no-repeat 0;
  background-size: cover; }

.library-sache body {
  background: url("../../img/library-sache.jpg") no-repeat 0;
  background-size: cover; }

.inception body {
  background: url("../../gifs/inception3.gif") no-repeat center center;
  background-size: cover; }

.inception h2, .inception h3 {
  color: #ffffff; }

.thanks body {
  background: url("../../gifs/kaylee-umbrella.gif") no-repeat center center;
  background-size: cover; }

.thanks h3 {
  color: #031327; }

.speechless body {
  background: url("../../gifs/speechless.gif") no-repeat center center;
  background-size: cover; }

@font-face {
  font-family: 'nixie_oneregular';
  src: url('../../fonts/NixieOne-Regular.eot');
  src: url('../../fonts/NixieOne-Regular.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/NixieOne-Regular.woff2') format('woff2'),
       url('../../fonts/NixieOne-Regular.woff') format('woff'),
       url('../../fonts/NixieOne-Regular.ttf') format('truetype'),
       url('../../fonts/NixieOne-Regular.svg#nixie_oneregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'questrialregular';
  src: url('../../fonts/Questrial-Regular.eot');
  src: url('../../fonts/Questrial-Regular.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/Questrial-Regular.woff2') format('woff2'),
       url('../../fonts/Questrial-Regular.woff') format('woff'),
       url('../../fonts/Questrial-Regular.ttf') format('truetype'),
       url('../../fonts/Questrial-Regular.svg#questrialregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_code_proregular';
  src: url('../../fonts/SourceCodePro-Regular.eot');
  src: url('../../fonts/SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/SourceCodePro-Regular.woff2') format('woff2'),
       url('../../fonts/SourceCodePro-Regular.woff') format('woff'),
       url('../../fonts/SourceCodePro-Regular.ttf') format('truetype'),
       url('../../fonts/SourceCodePro-Regular.svg#source_code_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}