.product-list {
  position: relative;
  overflow: hidden;
  min-height: 300px;
  margin-left: -12.5px;
  margin-right: -12.5px;
}

.product-item {
  padding-left: 12.5px;
  padding-right: 12.5px;
  padding-bottom: 24px;
}
.product-ctn {
  position: relative;
  width: 25%;
  float: left;
  margin-top: -1px;
  overflow: hidden;
}
.product-ctn img {
  width: 100%;
}

.product-content {
  background-color: #ffffff;
  position: relative;
  width: 100%;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.product-info {
  color: #5f5f5f;
  text-align: center;
}
.product-title {
  margin-bottom: 0;
}
.product-title a {
  color: inherit;
}
.product-icon:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.product-image {
  max-height: 177px;
  overflow: hidden;
}
.product-overlay {
  position: relative;
}
.product-icon {
  position: absolute;
  left: 50%;
  text-align: center;
  background-color: #fe4578;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 55px;
  height: 55px;
  line-height: 45px;
  font-size: 25px;
  margin-top: -27.5px;
  margin-left: -27.5px;
  border: 5px solid #ffffff;
  color: #ffffff;
  overflow: hidden;
}
.product-title {
  margin-top: 7.5px;
}
.product-description {
  font-size: 13px;
}
.product-info {
  display: block;
  padding: 27px 10px 10px 10px;
}
.product-content:hover .product-info,
.product-content:focus .product-info,
.product-content:active .product-info {
  color: #ffffff;
}

.product-content:hover,
.product-content:focus,
.product-content:active {
  background-color: #fe4578;
}
.product-content.green:hover,
.product-content.green:focus,
.product-content.green:active {
  background-color: #00c680;
}
.product-content.green:hover .product-icon,
.product-content.green:focus .product-icon,
.product-content.green:active .product-icon {
  background-color: #00c680;
}
.product-content.blue:hover,
.product-content.blue:focus,
.product-content.blue:active {
  background-color: #5ac2d3;
}
.product-content.blue:hover .product-icon,
.product-content.blue:focus .product-icon,
.product-content.blue:active .product-icon {
  background-color: #5ac2d3;
}
.product-content.orange:hover,
.product-content.orange:focus,
.product-content.orange:active {
  background-color: #fe9a42;
}
.product-content.orange:hover .product-icon,
.product-content.orange:focus .product-icon,
.product-content.orange:active .product-icon {
  background-color: #fe9a42;
}
.product-content.purple:hover,
.product-content.purple:focus,
.product-content.purple:active {
  background-color: #98519a;
}
.product-content.purple:hover .product-icon,
.product-content.purple:focus .product-icon,
.product-content.purple:active .product-icon {
  background-color: #98519a;
}
.product-content.gold:hover,
.product-content.gold:focus,
.product-content.gold:active {
  background-color: #dabf77;
}
.product-content.gold:hover .product-icon,
.product-content.gold:focus .product-icon,
.product-content.gold:active .product-icon {
  background-color: #dabf77;
}
.product-content.gray:hover,
.product-content.gray:focus,
.product-content.gray:active {
  background-color: #5f5f5f;
}
.product-content.gray:hover .product-icon,
.product-content.gray:focus .product-icon,
.product-content.gray:active .product-icon {
  background-color: #5f5f5f;
}