// ==========================================================================
// Mixins
// Thanks to @sutterlity
// https://github.com/sutter/POPY-Starter-integration-web/blob/master/scss/tools/_mixins.scss
// ==========================================================================


// Media Queries
// Allows you to use inline media queries.
// @link http://jakearchibald.github.com/sass-ie/
// .foobar { @include mq(20em) { ... } }

@mixin mq($breakpoint, $query: 'min-width', $type: 'screen') { // breakpoint can be a variable
  @media #{$type} and (#{$query}: #{$breakpoint}) { @content; }
}

// .foobar { @include opacity(4) { ... } }

@mixin opacity($opacity) {
  filter: unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=#{round($opacity * 100)})");
  opacity: $opacity;

  // Hack IE6
  .lt-ie7 & {
    filter : alpha(opacity=#{round($opacity * 100)});
    zoom: 1;
  }
}

// @link http://bit.ly/thoughtbot-bourbon-inline-block
// .foobar { @include inline-block() { ... } }

@mixin inline-block($alignment: baseline) {
  display: inline-block;
  @if $alignment and $alignment != none {
    vertical-align: $alignment;
  }
}

// transitions
@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}