// ==========================================================================
// Mixins
// Thanks to @sutterlity
// https://github.com/sutter/POPY-Starter-integration-web/blob/master/scss/tools/_mixins.scss
// ==========================================================================


// Media Queries
// Allows you to use inline media queries.
// @link http://jakearchibald.github.com/sass-ie/
// .foobar { @include mq(20em) { ... } }

@mixin mq($breakpoint, $query: 'min-width', $type: 'screen') { // breakpoint can be a variable
  // if media queries are not supported
  @if $fix-mqs {
    @if $fix-mqs >= $breakpoint { // ...and if the fixed breakpoint is greater than query...
      @content; // ...output the content the user gave us.
    }
  }
  // Otherwise, output it using a regular media query
  @else {
    @media #{$type} and (#{$query}: #{$breakpoint}) { @content; }
  }
}

// IE Specific Styles
// .foobar {
//   .lt-ie8 & { @include old-ie { ... } }
//   .lt-ie9 & { @include old-ie { ... } }
// }

@mixin old-ie {
  @if $old-ie {
    @content;
  }
}

// .foobar { @include opacity(4) { ... } }

@mixin opacity($opacity) {
  filter: unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=#{round($opacity * 100)})");
  opacity: $opacity;

  // Hack IE6
  .lt-ie7 & {
    filter : alpha(opacity=#{round($opacity * 100)});
    zoom: 1;
  }
}

// @link http://bit.ly/thoughtbot-bourbon-inline-block
// .foobar { @include inline-block() { ... } }

@mixin inline-block($alignment: baseline) {
  display: inline-block;
  @if $alignment and $alignment != none {
    vertical-align: $alignment;
  }
}

// transitions
@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}